<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<form (ngSubmit)='login()' [formGroup]="loginForm">
  <div class="form-group">
    <label for="userName">Benutzername</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-user-o"></i>
        </div>
      </div>
      <input class="form-control" formControlName="userName" id="userName" name="userName" placeholder="Benutzername"
             type="text">
    </div>
  </div>
  <div class="form-group">
    <label for="userPassword">Passwort</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-key"></i>
        </div>
      </div>
      <input class="form-control" formControlName="userPassword" id="userPassword" name="userPassword"
             placeholder="Passwort" type="password">
    </div>
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" id="remainSignedIn" name="remainSignedIn" type="checkbox" value= "check" checked formControlName="remainSignedIn">
      <label class="custom-control-label" for="remainSignedIn">Angemeldet bleiben</label>
    </div>
  </div>
<!--  <div class="form-group">-->
<!--    <a routerLink="/">Passwort vergessen </a>-->
<!--  </div>-->
  <ng-container *ngIf="errorStatus">
    <div class="alert alert-warning" role="alert">
      {{errorMessage}}
    </div>
  </ng-container>
  <div class="form-group">
    <button [disabled]="!loginForm.valid" class="btn btn-primary" name="submit" type="submit"> Absenden</button>
  </div>
</form>

