<h2>Hauptmenü</h2>

<div class="main-menu">


  <div class="btn btn-default link-menu"><i class="fa fa-share-square-o"></i> <a
    routerLink="/receipt/new">Warenbewegung</a></div>

  <div class="btn btn-default link-menu"><i class="fa fa-calculator"></i> <a
    routerLink="/end/new">Tagesabschluss</a></div>

  <div class="btn btn-default link-menu"><i class="fa fa-area-chart"></i> <a
    routerLink="/statistics/month">Statistik</a></div>

  <div class="btn btn-default link-menu"><i class="fa fa-codepen"></i> <a routerLink="/goods/overview">Waren</a></div>

  <div class="btn btn-default link-menu"><i class="fa fa-id-card-o"></i> <a routerLink="/user/overview">Benutzer</a>
  </div>

  <div class="btn btn-default link-menu"><i class="fa fa-shopping-basket"></i> <a routerLink="/self/overview">Selbstbedienungsstand</a>
  </div>

</div>
